<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Find Sutom word of the day</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sutom</h1>
    <p th:text="|Word of the day : ${hiddenWord}|"></p>
    <form action="#" th:action="@{/sutom}" th:object="${SutomInput}" method="post">
        <p>Propose a word: <input type="text" th:field="*{proposedWord}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>